@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Inter&display=swap");

.custom-carousel .carousel .control-dots .dot {
  box-shadow: none !important;
  border: 2px solid #000000 !important;
  width: 12px !important;
  height: 12px !important;
  cursor: pointer !important;
}

.custom-carousel .carousel .control-dots .dot.selected {
  background: #000000 !important;
}
.custom-carousel .carousel .control-dots {
  display: flex;
  gap: 1px !important;
  justify-content: center;
  align-items: center;
  position: absolute !important;
}

.custom-carousel .carousel {
  position: relative;
  display: flex;
  height: 200px !important;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  padding-bottom: 36px;
}
.custom-carousel .carousel .control-arrow {
  display: none !important;
}

.carousel .control-arrow {
  height: 274px !important;
  margin-top: auto !important;
}
