@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Inter&display=swap");

.carousel {
  border: 2px solid black;
  position: relative;
  border-radius: 8px;

  @media (min-width: 361px) {
    height: 300px !important;
    width: 70% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
